body {
	width: 100%;
	height: 100%;
    font-family: 'Roboto', sans-serif;
    background-image:url(../img/filaguilhotina.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    transition: 0.5s ease;
    
}

h2 {
    margin: 5px 10px;
    font-weight: 800;
}

.politico-button {
    border-radius: 10px;
    transition: 0.5s ease;
    border: 2px solid #ddd;
    margin-bottom: 30px;
    background-color: #fff;
}

.politico-button:hover {
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    transition: 0.5s ease;
    border: 2px solid #2A4B8D;
}

.politico-foto {
  border-radius: 5px;
  transform: scale(0.9);
}

.politico-button p {
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #ccc;
}

.row {
    margin-left: 30px;
    margin-right: 30px;
}

.wrapper {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	animation: fade-background 5s linear;
	animation-fill-mode: forwards;
}

@keyframes fade-background {
	0% {
		background-color: rgba(255, 255, 255, 1);
		z-index: 2;
        position: fixed;
	}
	90% {
		background-color: rgba(255, 255, 255, 1);
		z-index: 2;
        position: fixed;
	}
	100% {
		background-color: rgba(0, 0, 0, 0);
		z-index: -1;
        position: absolute;
	}
}

.header {
	height: 180px;
}

.logo-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
    width: 235px;
	animation: logo-position 5s linear;
	animation-fill-mode: forwards;
}

@keyframes logo-position {
	0% {
		top: 50%;
	}
	80% {
		top: 50%;
	}
	90% {
		top: 100px;
	}
	100% {
		top: 100px;
	}
}

.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.base{
  fill:#2A4B8D;
}
	
.guilhotina{
  fill:#B1B1B1;
  animation: anim-guilhotina 0.3s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
}

.letras{
  fill:#fff;
  animation: color 2s ease-in;
  animation-delay: 1.8s;
  animation-fill-mode: forwards;
 
}

@keyframes color {
  from {
    fill: #fff;

  } to {
    fill: #2A4B8D;
  }
}

.cabeca{
  fill: #AD1F17;
  
}

.rola {
  animation: rola 2s ease-out;
  animation-fill-mode: forwards;
  transform-origin: center center;
  animation-delay: 0.8s;
}

.baixo {
  animation: baixo 0.3s ease-in;
  animation-fill-mode: forwards;
  transform-origin: center center;
  animation-delay: 1.1s;
}

.lado {
  animation: lado 2s ease-out;
  animation-fill-mode: forwards;
  transform-origin: center center;
  animation-delay: 0.8s;
}

@keyframes anim-guilhotina {
  from {
     transform: translateY(0px);
  }
  to {
    transform: translateY(43px);
  }
}

@keyframes baixo {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(32px);
  }
}

@keyframes lado {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(148px);
  }
}

@keyframes rola {
  0% {
    transform: rotate(0px);
  }
 100% {
    transform: rotate(405deg);
  }
}


.row {
    margin-bottom: 30px;
}

.headline {
    font-size: 22px;
    padding: 30px;
    color: #ccc;
}

.search-bar {
    text-align: center;
    margin-bottom: 50px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #ccc;
    transition: 0.4s ease;
}

.search-bar:focus {
    border: 2px solid #2A4B8D;
    transition: 0.4s ease;
}

textarea:focus, input:focus{
    outline: none;
}

.content {
    margin-bottom: 250px;
    transition: 0.5s ease;
}

footer h1 {
    color: #fff;
    font-size: 18px;
    padding: 80px 50px;
}

.politico-panel {
    transition: 0.8s;
}

.politico-panel.ng-leave-active {
    transform: translateY(-20px);
    opacity: 0;
}

.politico-panel.ng-enter {
    transform: translateY(-20px);
    opacity: 0;
}

.politico-panel.ng-enter-active {
    transform: translateY(0px);
    opacity: 1;
}

/* irrelevant styling */

.content a{
    color: inherit;
    text-decoration: none;
}

.content a:focus{
    outline: none;
}

.content a:hover{
    text-decoration: none;
}

.modal-body {
    display: flex;
    flex-wrap: wrap;
}

.modal-dialog {
    width: 750px;
}

.modal-panel {
    margin: 10px;
    flex-grow: 1;
    height: 200px;
    width: 220px;
    order: 1;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 5px
}

.panel-head {
    color: #2A4B8D;
    padding: 5px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #aaa;
    font-size: 13px;
}

.panel-content {
    line-height: 25px;
    padding: 10px;
    display: flex;
}

.content-icon {
    width: 30px;
    order: 1;
    color: #2A4B8D;
    text-align: center;
}

.content-data {
    color: #aaa;
    flex-grow: 1;
    order: 1;
}

.content-description {
    flex-grow: 1;
    order: 1;
    color: #ccc;
    font-size: 11px;
    color: #555;
    text-align: right;
}

.assiduidade {
    height: 180px;
}

.modal-img {
    width: 100px;
}

@media screen and (max-width: 780px) {
 .modal-dialog {
     max-width: 100%;
    }
}
.panel-doacoes {
    line-height: 25px;
    padding: 10px;
    display: flex;
    height: 150px;
    overflow-y: scroll;
}

.lista_doadores {
    color: #999;
    flex-grow: 1;
    order: 1;
    font-size: 12px;
    
}

.lista_valor {
    flex-grow: 1;
    order: 1;
    color: #ccc;
    font-size: 12px;
    text-align: right;
}

.panel-total {
    color: #2A4B8D;
    padding: 5px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    border-top: 1px solid #aaa;
    font-size: 13px;
}

.panel-doacoes::-webkit-scrollbar{ width:6px; height:6px; 
}
.panel-doacoes::-webkit-scrollbar-button:start:decrement, 
.panel-doacoes::-webkit-scrollbar-button:end:increment{ 
  display:block;
  height:0;
  background-color:transparent;
}
.panel-doacoes::-webkit-scrollbar-track-piece{
  background-color:#FAFAFA;
  -webkit-border-radius:0;
  -webkit-border-bottom-right-radius:8px;
  -webkit-border-bottom-left-radius:8px;
}
.panel-doacoes::-webkit-scrollbar-thumb:vertical{
  height:50px;
  background-color:#2A4B8D;
  -webkit-border-radius:8px;
}
.panel-doacoes::-webkit-scrollbar-thumb:horizontal{
  width:50px;
  background-color:#2A4B8D;
  -webkit-border-radius:8px;
}

.panel-leis {
    overflow-y: scroll;
    height: 165px;
    line-height: 20px;
    padding: 10px;
    width: 100%;
}

.leis-wrapper {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.data_lei {
    color: #aaa;
    font-size: 12px;
    margin-right: 10px;
    order: 1;
    flex-grow: 1;
}

.status_lei {
    background-color:#2A4B8D;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    font-size: 8px;
    padding: 5px 10px;
    width: 100%;
}

.lista_leis {
    width: auto;
    order: 1;
    flex-grow: 4;
    color: #999;
    font-size: 13px;
}

.panel-leis::-webkit-scrollbar{ width:6px; height:6px; 
}
.panel-leis::-webkit-scrollbar-button:start:decrement, 
.panel-leis::-webkit-scrollbar-button:end:increment{ 
  display:block;
  height:0;
  background-color:transparent;
}
.panel-leis::-webkit-scrollbar-track-piece{
  background-color:#FAFAFA;
  -webkit-border-radius:0;
  -webkit-border-bottom-right-radius:8px;
  -webkit-border-bottom-left-radius:8px;
}
.panel-leis::-webkit-scrollbar-thumb:vertical{
  height:50px;
  background-color:#2A4B8D;
  -webkit-border-radius:8px;
}
.panel-leis::-webkit-scrollbar-thumb:horizontal{
  width:50px;
  background-color:#2A4B8D;
  -webkit-border-radius:8px;
}

.cal-legend {
    flex-grow: 1;
    order: 1;
    margin: 5px;
    height: 100%;
}

.activity-year {
    width: 80px;
    text-align: center;
    background-color: #2A4B8D;
    color: #fff;
    border-radius: 30px;
    font-size: 12px;
}

.legend {
    font-size: 10px;
}

.legend-wrapper {
    margin-top: 20px;
}

.legend-color {
    width: 10px;
    height: 10px;
    background-color: #fff;
    float: left;
    margin-right: 5px;
    margin-top: 7px;
}

.cal-graph {
    flex-grow: 6;
    order: 1;
    font-size: 11px;
    color: #555;
    text-align: right;
    display: flex;
    margin: 5px;
    height: 100%;
}

.cal-block {
    flex-grow: 6;
    order: 1;
    max-width: 60px;
}

.cal-month {
    width: 100%;
    text-align: left;
    font-size: 9px;
}

.cal-day {
    width: 10px;
    height: 10px;
    background-color: #63FFA2;
    margin-right: 2px;
    margin-bottom: 2px;
    float: left;
}

.no-day {
    background-color: #eee;
}

.fault {
   background-color: #FF7763;
}

.present {
    background-color: #63FFA2;
}

.panel-activity {
    line-height: 25px;
    padding: 10px;
    display: flex;
    height: 105px;
}

.no-exist {
   margin-top: 65px;
   font-size: 12px;
   color:#AD1F17;
   text-align: center;
   font-weight: bold;
}

.chart-panel1 {
    background-image: url(../img/grafico.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 170px;

}

.chart-panel2 {
    background-image: url(../img/patrimonio.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 170px;

}






